h1 , h4{
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom:0.5rem;
}

button:hover {
    background-color: rgb(83, 214, 159);
    color: black;
}